
    <div class="section">
      <h2>{{title}}</h2>
      <ul class="qualifications-list">
        {{#each qualifications}}
          <li class="qualification-item">
            <span class="qualification-desc">{{{description}}}</span>
            <strong class="qualification-date">{{date}}</strong>
          </li>
        {{/each}}
      </ul>
    </div>
