
    <div class="section">
      <h2>{{title}}</h2>
      {{#each summary}}
        <p>{{this.detail}}</p>
        {{#if this.list}}
        <ul class="bullet">
          {{#each this.list}}
            <li><strong>{{this.heading}}</strong>: {{this.contents}}</li>
          {{/each}}
        </ul>
        {{/if}}
      {{/each}}
    </div>
