<div class="section">
  <h2>{{title}}</h2>
  <div class="skills-grid">
    {{#each skills}}
      <div class="skill-category">
        <strong class="skill-heading">{{heading}}</strong>
        <ul class="bullet">
          {{#each this.detail}}
            <li>{{this.contents}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</div>