<html>
  {{> head }}
  <body class="skycom-container clearfix" id=grid12>
    {{> sections/personal-details }}
    {{> sections/summary title="Personal Profile" }}
    {{> sections/employment-and-projects title="Employment and Projects" }}
    {{> sections/technical-skills title="Technical Skills" }}
    {{> sections/academics title="Academics" }}
  </body>
</html>
