<html>
  {{> head }}
  <body class="skycom-container clearfix" id=grid12>
    {{> personal-details }}
    {{> summary title="Personal Profile" }}
    {{> employment-and-projects title="Employment and Projects" }}
    {{> technical-skills title="Technical Skills" }}
    {{> qualifications title="Qualifications" }}
  </body>
</html>
